body {
	background-color: #212121;
	color: white;
	font-family: 'Roboto';
}
#login-header {
	float: right;
}
#logo {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 8em;
    padding: 200px;
    background-color: #68695c;
}
.flex-element {
	display: flex;
}
.main-elements {
	justify-content: space-around;
	align-items: flex-end;	 
}
.column {
	flex-direction: column;
}